node_modules/

.env
.env.*

.idea
.git/
.gitignore

.github/

npm-debug.log
yarn-debug.log
yarn-error.log

Dockerfile
docker-compose.yml
.dockerignore

README.md
.prettierrc
.eslintrc.cjs
jsconfig.json

yarn.lock